* {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.table-wrapper {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 200px 1000px;
}

.horse-col-wrapper>div {
  padding: 5px 8px 5px 8px;
  margin: -1px 0px 0px -1px;
  border: 1px solid black;
  text-align: left;
  height: 25px;
}

.odds-table-wrapper {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 80px repeat(var(--no-of-horse, 4), 80px);
}

.odds-table-wrapper>div {
  padding: 5px 8px 5px 8px;
  margin: -1px 0px 0px -1px;
  border: 1px solid black;
  text-align: center;
}

.cell {}

.odds-table-wrapper input[type=radio] {
  width: 0px;
}

.cell:hover {
  animation-name: shaking;
  animation-duration: 0.2s;
  animation-direction: normal;
  /*https://cubic-bezier.com/#.02,.96,.35,.9*/
  /*animation-timing-function: cubic-bezier(.02,.96,.35,.9);*/
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

@keyframes shaking {
  0% {
    transform: rotate(5deg);
  }

  100% {
    transform: rotate(-5deg);
  }
}

.cell:focus-within {
  animation-name: highlight-fadeout;
  animation-duration: 3s;
  animation-iteration-count: 1;
}

@keyframes highlight-fadeout {
  0% {
    background-color: yellow;
  }

  100% {
    background-color: white;
  }
}

.cell.max {
  background-color: red;
}

.cell.min {
  background-color: blue;
}

.col-header {
  grid-column-start: 1;
  background-color: green;
  color: white;
}

.row-header {
  grid-row-start: 1;
  background-color: green;
  color: white;
}